body {
	background: url(https://images.squarespace-cdn.com/content/v1/5980c167cd0f68fc986c78a2/1518144907442-V9BMSH488EX5UH3FZ55Q/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/3H6A1502.jpg?format=2500w);
	
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #000;
	color: BlanchedAlmond;
	min-height: 100px;
	margin-top: 60px;
	font-family: 'Josefin Slab', serif;
	font-size: 40px ;

}

header h1 {
	padding: 40px 60px;
}


/* Nav styles */
nav { background-color: #333; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { padding: 10px 10px; }
nav a { color: BlanchedAlmond; }
nav a:hover { color: white; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
	font-family:'Josefin Slab', serif ;
 }
 footer p { padding: 20px; }
